.header__links {
  color: white;
  margin: 46px 16px 0 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-size: 24px;
}

.header__links:last-child {
  margin-right: 0px;
}

.header__links:hover {
  opacity: 80%;
}


@media screen and (max-width:767px) {

  .header__links {
    margin: 30px 16px 0 0;
    padding: 0;
    line-height: 20px;
    font-size: 18px;
  }

}
