.lead__title {
  font-weight: 900;
  display: flex;
  line-height: 100px;
  font-size: 96px;
  text-align: center;
  margin: 56px 0 0 0;
  width: 720px;
}


@media screen and (max-width: 1239px) {

  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width:767px) {

  .lead__title {
    line-height: 44px;
    font-size: 40px;
    width: 288px;

  }
}