.header__logo {
  width: 176px;
  height: 52px;
  padding: 28px 0 0 0;
}


@media screen and (max-width:1023px) {

  .header__logo {
    margin-left: 24px;
  }
}


@media screen and (max-width:767px) {

  .header__logo {
    width: 142px;
    height: 42px;
    padding: 0;
    margin-top: 16px;
  }
}