.cover {
  width: 1184px;
}

@media screen and (max-width:1239px) {

  .cover {
    width: 1024px;
  }
}

@media screen and (max-width:1023px) {

  .cover {
    width: 768px;
  }
}

@media screen and (max-width:767px) {
  .cover {
    width: 320px;
  }
}