.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 510px;
  text-align: center;
  z-index: 1;
  font-family: "Inter", sans-serif;
}


@media screen and (max-width:767px) {

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 240px;
  }
}